<h3> <%= @ingredient.name %></h3>
<%= image_tag(@ingredient.image) %>
<!-- this goes to a form to show the edit fields -->
<%=  link_to 'Edit', edit_ingredient_path(@ingredient)%>
<!-- This deletes the record without showing the data -->
<%= link_to 'delete', @ingredient, :method => :delete %>